# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Environments
.venv/
venv/
env/
.conda/
.conda_env/

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.DS_Store
.vscode/
.idea/

# Secrets
.env
